{% load static %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">

        <img class="card-img-top"
             src="{%static 'image/books2.jpg'%}"
             alt="Card image cap">
        <div class="card-body">
            <h2>{{object.name}}</h2>
            <p class="card-text">{{object.specification|truncatechars:100}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'catalog:category_product' object.pk%}" type="button"
                       class="btn btn-sm btn-outline-secondary">Просмотр</a>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div>
    </div>
</div>